@model MvcVeve.Models.Realisation

@{
    ViewData["Title"] = "Details";
}
<div class="bg-light">
    
    <br/>
    <h2 style="text-align:center">@Html.DisplayFor(model => model.NomRealisation)</h2><br/><hr />
    <div class="row">
        <h5 style="text-align:center">Avant/Après</h5>
            <div class="col-md-6 " >
                <img class="img-fluid mb-3 img-center" src="../../images/@(Model.ImageAvt)" alt="Image avant rénovations">
                @if (Model.ImageAvt2 != null) {  
                 <img class="img-fluid" src="../../images/@(Model.ImageAvt2)"  alt="Image avant rénovations">} 
            </div>
            <div class="col-md-6">
                <img class="img-fluid mb-3 img-center" src="../../images/@(Model.ImageAp)" alt="Image après rénovations">
                @if (Model.ImageAvt2 != null) {  
                <img class="img-fluid"    src="../../images/@(Model.ImageAp2)" alt="Image après rénovations">}
            </div>
    </div>
    <hr/>
        <div class="container" style="width: 18rem; text-align:center">
   
        
    @Html.DisplayFor(model => model.Description)
    <br/>
        <p><br/></p>
        </div>

        

 <br/>
</div>